@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.frame {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leftBorder {
  border-left: 1.5px solid black;
}

.rightBorder {
  border-right: 1.5px solid black;
}

.topBorder {
  border-top: 1.5px solid black;
}

.bottomBorder {
  border-bottom: 1.5px solid black;
}
